# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Node.js
node_modules/
dist/
.env

# Project specific
db.sqlite3
# dashboard/ml/models/isolation_forest.joblib
venv_new/
.venv_new/
.ipynb_checkpoints/
*.xlsx
*.csv

# OS files
.DS_Store
Thumbs.db
